/* start global */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nicescroll-rails {
    z-index: 1 !important;

}

* {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

/* end global */





/* start navbar */
.nav-bar{
    font-size: 20px;
    color: white;
    position: fixed;
    padding: 0 15px;
    z-index: 999;
    width: 100%;
    background: linear-gradient(to bottom, #00000040, #0000);
    background: -webkit-gradient(linear, left top, left bottom, from(#00000040), to(#0000));
    
}

.nav-bar .brand{
    width: 40%;
    text-transform: uppercase;
    margin: 0.83em 0;
}

.nav-bar .brand span{
    text-transform: lowercase;
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
}

.nav-bar .links{
    width: 60%;
    margin-top: 20px;
}

.nav-bar .links li{
    display: inline-block;
    padding: 10px 0;
    margin: 0 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #1abc9c transparent;
    font-weight: bold;
}

.nav-bar .links li a{
    color: #fff;
    text-decoration: none;
}

.nav-bar .links li.active a,
.nav-bar .links li a:hover {
    color: #1abc9c;
}

.nav-bar .links li.active,
.nav-bar .links li:hover {
    border-bottom: 2px solid #1abc9c;
    cursor: pointer;
}

@media (max-width: 1199px){
    .nav-bar .d-flexr {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .links {
        width: 100% !important;
        display: block;
        margin: 0;
    }

    .nav-bar .brand {
        margin: auto;
        text-align: center;
    }

    .nav-bar ul {
        text-align: center;
    }

    .nav-bar ul li {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .nav-bar ul li {
        font-size: 14px;
    }
}

/* end navbar */

/* start header*/
.header {
    position: relative;
    overflow: hidden;
}

.header .hoverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1;
    opacity: 1;
}

.header .slider li {
    width: 100% !important;
    height: 100%;
}

.header .slider img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.header .bx-wrapper,
.header .bx-wrapper .bx-viewport {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    background: none;
    height: 100%;
}

.header .bx-wrapper .bx-pager {
    bottom: 30px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #fff;
}

/* end header*/

/*  start services */
.services {
    padding: 50px 0;
}

.services h2 {
    font-weight: normal;
    margin-right: 15px;
}

.services .our-services .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 20px 0;
    padding-right: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.services .item i {
    color: #1abc9c;
    margin-right: 20px;
    margin-bottom: 20px;
}

.services .item h3 {
    margin: 0;
    color: #585858;
}

.services .item p {
    color: #888;
    line-height: 1.4;

}

@media (max-width: 767px) {
    .services .our-services .item {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
}

/*  end services  */


/*  start our-team */

.team {
    padding: 50px 0;
}

.team .team-info {
    margin-bottom: 20px;
}

.team .team-info h2 {
    font-weight: normal;
    margin-top: 0;
}

.team .team-info p {
    color: #888;
    line-height: 1.4;
}

.team .team-photos {
    margin: 0;
}

.team .team-photos .soldier {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;

}

.team .team-photos .soldier .image {
    background-color: #1abc9cc2;

}

.team .team-photos .soldier:hover .overlay {
    opacity: 1;
}

.team .team-photos .soldier:hover img {
    opacity: .5;
}

.team .team-photos .soldier .overlay {
    background: none !important;
}

.team .team-photos img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/*   end our-team  */


/*       Testimonials        */

.testim {
    background: url('../images/war.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    color: #fff;
    padding: 40px 0;

}

.testim .t-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    color: #fff;
    padding: 40px 0;

}

.testim .t-overlay h2 {
    margin: 40px auto;
}

.testim .t-overlay span {
    letter-spacing: 3px;
    display: block;
    margin: 40px auto;
    font-weight: bold;
    color: #1abc9c;
}

.testim .my-slider > div {
    display: none
}

.testim .my-slider .active {
    display: block;
}

q {
    line-height: 1.5;
}

/*       Testimonials        */


/*        start projects     */
.our-projects {
    padding: 40px;
}

.our-projects h2 {
    font-weight: normal;
}

.our-projects ul {
    margin-top: 50px;
}

.our-projects ul li {
    display: inline-block;
    border: 1px solid #d4cccc;
    color: #a7a7a7;
    padding: 8px 15px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.our-projects ul .active {
    background-color: #1abc9c;
    color: #fff;
    border: 1px solid #1abc9c;
}

.our-projects .our-gallery {
    margin-top: 50px;
}

.our-projects .our-gallery .row {
    margin-bottom: 40px;
}

.our-projects .our-gallery .mix {
    padding: 0;
}

.our-projects .our-gallery .row > div img {
    width: 100%;
    height: 100%;
}

.our-projects .our-gallery .row > div {
    position: relative;
}

.our-gallery .overlay:hover {
    opacity: 1;
}

.our-gallery .overlay a {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}

.our-gallery .overlay a:hover {
    background-color: white;
    color: #1abc9c;
}

.our-gallery .overlay span {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* end projects */


/* start footer */
footer {
    color: #6c6c6c;
    background-color: #222222;
    padding: 40px;
}

footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .col {
    display: inline;
}

footer h2 {
    color: #fff;
    font-weight: normal;
}

footer .about p,
footer .about i {
    margin-bottom: 20px;
    line-height: 1.6;
}

footer .about i {
    display: inline-block;
    color: #fff;
    margin: 5px;
    cursor: pointer;
}

footer .tags span {
    color: #fff;
    display: inline-block;
    margin: 5px;
    border: 1px solid #6c6c6c;
    padding: 7px 12px;
    font-size: .9em;
    cursor: pointer;
}

footer .recent div {
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}

footer .recent div img {
    float: left;
    margin-right: 15px;
}

footer .recent div h4 {
    margin: 5px 0;
    color: #ccc;
    font-weight: normal;
}

footer .blog ul li {
    padding: 15px 0;
    color: #fff;
    border-bottom: 1px solid #6c6c6c;
    cursor: pointer;
}

footer .copy-right {
    margin-top: 0;
}

/*   end footer  */





/* start my framework */
.mcolor {
    color: #1abc9c;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clear {
    clear: both;
}

.d-flexl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.d-flexr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.d-flex-spb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.d-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.my-heading {
    position: relative
}

.text-center {
    text-align: center;
}

.my-heading:after {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 40px;
    border-bottom: 2px solid #333;
}

.hr {
    border: 1px solid #eee;
    display: block;
}

.overlay {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1abc9cc2;
    color: #fff;
    text-align: center;
    opacity: 0;
    z-index: 99;
}

/* start my framework */
